/* in globals.css or equivilent global stylesheet within your app  */
.navbar-nav .nav-link {
  color: #345CFB !important;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #292f76 !important;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
  color: black !important;
}

.navbar-toggler:focus {
  color: transparent;
}

.card {
  transition: transform 0.3s ease-in-out;
  /* Add any other styles you want to apply on hover */
}

.card:hover {
  transform: scale(1.05);
  /* Example: Increase size on hover */
  /* Add any other styles you want to apply on hover */
}

.sample-slider {
  width: 70%;
}

.sample-slider img {
  width: 100%;
}

.sample-slider .swiper-wrapper {
  transition-timing-function: linear;
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari, etc.) */
.no-scrollbar::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.no-scrollbar {
  scrollbar-width: none !important;  /* Firefox */
  -ms-overflow-style: none !important;  /* IE and Edge */
}


@media (max-width: 991.98px) {

  /* Add your styles for the collapsed Navbar here */
  /* For example, you can change the background color or adjust padding */
  .nav-link {
    margin-top: 1rem;
  }

  .test {
    display: flex;
    flex-direction: row !important;
    gap: 3rem !important;
  }

  .carousels {
    height: 320px !important;
  }
}